<section class="section bg--secondary200 pt--40 pb--40">
  <div class="container display-grid place-item-center">
    <app-section-title
      background-title="About"
      title="About Me"
    ></app-section-title>
    <div class="display-grid place-items-center mt--40 about-wrapper">
      <div class="about-text-wrapper">
        <p class="fs--30 intro-text fc--white">
          My name is <span class="fc--primary">Rishabh Kanaujia</span>
        </p>
        <p class="fs--25 about-me-text fc--white mt--10">
          Multitalented Full Stack Developer with experience in Mobile/Web
          Application. Demonstrated excellent skills in HTML and JavaScript.
          True team player with strengths in adaptability and accuracy.
        </p>
      </div>
      <img class="ml--auto mr--auto" src="../../../../../assets/images/my-photo.png" alt="">
    </div>
  </div>
</section>
