<section class="section bg--secondary200 pt--40 pb--40 section-wrapper">
  <div class="container display-grid place-item-center">
    <app-section-title
      background-title="About"
      title="About Me"
    ></app-section-title>
    <div class="display-grid place-items-center mt--40 about-wrapper">
      <div class="about-text-wrapper">
        <p class="fs--30 intro-text fc--white">
          My name is <span class="fc--primary">Rishabh Kanaujia</span>
        </p>
        <p class="fs--20 about-me-text ls--2 mt--10">
          Multitalented Full Stack Developer who's passionate towards his work
          with experience in Mobile/Web Application. Demonstrated excellent
          skills in HTML and JavaScript. I have accuired the skills and
          knowledge necessary to make your project a success. I enjoy each and
          every step of design process. True team player with strengths in
          adaptability and accuracy.
        </p>

        <div
          class="display-grid about-container fs--25 about-me-text mt--40 text-align-center"
        >
          <div class="display-grid place-item-center">
            <p class="fc--primary fs--20">Name</p>
            <p>Rishabh Kanaujia</p>
          </div>
          <div class="display-grid place-item-center">
            <p class="fc--primary fs--20">Phone</p>
            <p>+91-9646545366</p>
          </div>
          <div class="display-grid place-item-center">
            <p class="fc--primary fs--20">Email</p>
            <p>kanaujia.rishabh@gmail.com</p>
          </div>
          <div class="display-grid place-item-center">
            <p class="fc--primary fs--20">Country</p>
            <p>India</p>
          </div>
        </div>

        <div class="mt--40 fs--25 about-me-text display-grid place-item-center">
          <p class="fc--primary">Education</p>
          <p class="text-align-center">
            B.E. in Computer Science and Engineering <br />
            Chandigarh University <br />
            2015 - 2019
          </p>
        </div>
      </div>
      <img
        class="ml--auto mr--auto"
        src="./assets/images/my-photo.png"
        alt=""
      />
    </div>
  </div>
</section>
