<div class="section section-wrapper">
  <div class="container">
    <div class="title-wrapper">
      <h3 class="fc--secondary300 ff--Nosifer">I'm a</h3>
      <h1 class="fc--white ff--Nosifer">
        full stack <br />
        developer <span class="fc--primary">.</span>
      </h1>
      <div class="display-flex message-button cursor-pointer place-item-center">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="mail_svg" d="M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 18H4V8L12 13L20 8V18ZM12 11L4 6H20L12 11Z"/>
        </svg>
        <p class="fc--primary fs--20">MESSAGE ME</p>
      </div>
    </div>
  </div>
</div>
