.title-wrapper {
  letter-spacing: 2px;
  position: relative;
  h1 {
    color: rgba($color: #48e5c2, $alpha: 0.2);
    font-size: 250px;
  }
  h3{
    font-size: clamp(45px, 5.5vw, 80px);
    transition: all 0.4s ease-in;
    opacity: 0;
    transform: translateY(20px);
  }

  h3[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0px);
  }
}
