:root {
  --error-red: #ff6961;
  --success-green: #219653;
  --primary: #48e5c2;
  --secondary: #232323;
  --secondary-200: #252929;
  --secondary-300: #828282;
}

@font-face {
  font-family: Nosifer;
  src: url("./assets/fonts/Nosifer-Regular.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito bold";
  font-weight: bold;
  src: url("./assets/fonts/Nunito-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, "Helvetica Neue", sans-serif;
}

.bg--secondary {
  background-color: var(--secondary);
}
.bg--primary {
  background-color: var(--primary);
}

.fc--primary {
  color: var(--primary);
}
.fc--secondary {
  color: var(--secondary);
}
.fc--secondary200 {
  color: var(--secondary-200);
}
.fc--secondary300 {
  color: var(--secondary-300);
}

.fc--white {
  color: white;
}

.ff--Nosifer {
  font-family: Nosifer;
}

.fs--12 {
  font-size: 12px;
  line-height: 22px;
}
.fs--18 {
  font-size: 18px;
  line-height: 20px;
}
.fs--20 {
  font-size: 20px;
}
.fs--26 {
  font-size: 26px;
}
.fs--32 {
  font-size: 32px;
}
.fs--36 {
  font-size: 36px;
}
.fs--70 {
  font-size: 70px;
  line-height: 80px;
}

.pt--10 {
  padding-top: 10px;
}
.pt--20 {
  padding-top: 20px;
}
.pt--40 {
  padding-top: 40px;
}
.pt--60 {
  padding-top: 50px;
}
.pt--80 {
  padding-top: 80px;
}
.pt--100 {
  padding-top: 100px;
}

.pb--10 {
  padding-bottom: 10px;
}
.pb--20 {
  padding-bottom: 20px;
}
.pb--40 {
  padding-bottom: 40px;
}
.pb--60 {
  padding-bottom: 50px;
}
.pb--80 {
  padding-bottom: 80px;
}
.pb--100 {
  padding-bottom: 100px;
}

.pl--10 {
  padding-left: 10px;
}
.pl--20 {
  padding-left: 20px;
}
.pl--40 {
  padding-left: 40px;
}
.pl--60 {
  padding-left: 50px;
}
.pl--80 {
  padding-left: 80px;
}
.pl--100 {
  padding-left: 100px;
}

.pr--10 {
  padding-right: 10px;
}
.pr--20 {
  padding-right: 20px;
}
.pr--40 {
  padding-right: 40px;
}
.pr--60 {
  padding-right: 50px;
}
.pr--80 {
  padding-right: 80px;
}
.pr--100 {
  padding-right: 100px;
}

.mt--10 {
  margin-top: 10px;
}
.mt--20 {
  margin-top: 20px;
}
.mt--40 {
  margin-top: 40px;
}
.mt--60 {
  margin-top: 50px;
}
.mt--80 {
  margin-top: 80px;
}
.mt--100 {
  margin-top: 100px;
}

.mb--10 {
  margin-bottom: 10px;
}
.mb--20 {
  margin-bottom: 20px;
}
.mb--40 {
  margin-bottom: 40px;
}
.mb--60 {
  margin-bottom: 50px;
}
.mb--80 {
  margin-bottom: 80px;
}
.mb--100 {
  margin-bottom: 100px;
}

.ml--10 {
  margin-left: 10px;
}
.ml--20 {
  margin-left: 20px;
}
.ml--40 {
  margin-left: 40px;
}
.ml--auto {
  margin-left: auto;
}

.mr--10 {
  margin-right: 10px;
}
.mr--20 {
  margin-right: 20px;
}
.mr--40 {
  margin-right: 40px;
}
.mr--auto {
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.place-item-center {
  place-items: center;
}
.w--100 {
  width: 100%;
}

.border-none {
  border: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 550px) {
  .header-icons {
    display: none;
    visibility: collapse;
  }
}
@media (min-width: 768px) {
  .container {
    width: 735px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
