.nav-wrapper {
  position: fixed;
  top: 0px;
  width: 100vw;
  transition: all 0.2s ease-in;
  z-index: 1000;
  padding: 20px 0px;
}

.nav-wrapper[data-scroll="out"] {
  padding: 5px 0px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.nav-links {
  gap: 10px;
  justify-content: end;
  p {
    font-size: clamp(18px, 3vw, 20px);
    transition: all 0.2s ease-in;
  }

  p:hover {
    // font-weight: bold;
    color: var(--primary);
    cursor: pointer;
  }
}

.active{
  color: var(--primary);
  font-weight: bold;
}
